*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: grey;
}

b {
    color: white;
}

h1 {
    margin-top: 50px;

    color: white;
    text-align: center;
}

.ajout {

    margin-top: 50px;

    #date {
        width: 150px;
    }

    #heure {
        width: 100px;
    }
}


.bobor {
    border: solid 5px red;
}

.boboy {
    border: solid 2px yellow;
}